.container {

  .shoujiaContent {
    background-color: #FFFFFF;

    border-top: 1px #c4c4c4 solid;
    width: 100%;

    .title {
      background-color: #dddddd;
      box-shadow: 0 2px 6px 0 rgba(240, 239, 15, 0.3);
      height: 35px;
      span {
        letter-spacing: 3px;
        margin-left: 20px;
        line-height: 35px;
        font-size: 14px;
        color: #585858;
      }
    }

    .content {
      background-color: #FFFFFF;
      height: 46px;
      line-height: 46px;
      border-bottom: 1px #c4c4c4 solid;
      font-size: 15px;

      .leftTitle {
        span {
          margin-left: 10px;
          font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
          font-weight: 600;
        }
      }
      .middleTitle {
        float: right;

        span {
          color: #ff0000;
          font-size: 25px;
          margin-left: 10px;
          font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
          font-weight: 600;
        }

      }
      .rightTitle {
        span {
          color: #ff0000;
          margin-left: 10px;
          font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
          font-weight: 600;
        }
      }
    }
  }

  .contactContent {
    .title {
      background-color: #dddddd;
      box-shadow: 0 2px 6px 0 rgba(240, 239, 15, 0.3);
      height: 35px;
      span {
        letter-spacing: 3px;
        margin-left: 20px;
        line-height: 35px;
        font-size: 14px;
        color: #585858;
      }
    }

    /**
    * 地址选择
    */
    .address {
      background-color: #ffffff;
      cursor: pointer;
      width: 100%;
      height: 60px;
      border-bottom: 1px #c4c4c4 solid;

      .editinfo {
        font-size: 16px;
        color: #1b1718;
        font-weight: 500;
        margin-top: 12px;

        a {
          color: #1b1718;
          font-weight: 500;
        }

        span {
          font-size: 16px;
          margin-left: 10px;
          font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
          font-weight: 600;
        }

      }

      .location {

        i {
          margin-left: 8px;
          font-size: 26px;
          line-height: 60px;
          color: #4734e7;
          -webkit-transition: font-size 0.25s ease-out 0s;
          -moz-transition: font-size 0.25s ease-out 0s;
          transition: font-size 0.25s ease-out 0s;
        }

      }

      .mainInfo {
        margin-top: 10px;

        .name {
          font-size: 16px;
          color: #1b1b1b;
          font-weight: 600;
        }

        .phoneNum {
          margin-left: 5px;
          font-size: 16px;
          color: #121212;
        }
      }

      .streetAddress {
        padding-top: 10px;
        font-size: 10px;
        color: #746d55;
      }

      .right {

        i {
          margin-left: 8px;
          font-size: 32px;
          line-height: 60px;
          color: #1b1b1b;
        }

      }
    }

    .visible {
      display: block;
    }

    .invisible {
      display: none;
    }

  }

  .expectContent {
    .title {
      background-color: #dddddd;
      box-shadow: 0 2px 6px 0 rgba(240, 239, 15, 0.3);
      height: 35px;
      span {
        letter-spacing: 3px;
        margin-left: 20px;
        line-height: 35px;
        font-size: 14px;
        color: #585858;
      }
    }

    .content {
      background-color: #FFFFFF;
      height: 46px;
      line-height: 46px;
      border-bottom: 1px #c4c4c4 solid;
      font-size: 15px;

      .leftTitle {
        span {
          margin-left: 10px;
          font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
          font-weight: 600;
        }
      }
      .middleTitle {
        float: right;

        span {
          color: #ff0000;
          font-size: 25px;
          margin-left: 10px;
          font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
          font-weight: 600;
        }

      }
      .rightTitle {
        i {
          font-size: 32px;
          //font-weight: 500;
        }
      }
    }

  }

  .nextStep {
    margin-top: 5px;
    padding-bottom: 8px;
    .button_sp_area {
      width: 70%;
      padding: 10px 0;
      margin: 0 auto;
      text-align: justify;
      font-size: 0;
    }
  }

}
