<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="o3oThumb">
    <meta name="keywords" content="o3oThumb">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>o3oThumb</title>
    <link rel="stylesheet" href="/ff/css/all.css"/>
</head>
<body>
<div id="app">{{html}}</div>
<!--<script src="/ff/socket.io/socket.io.js"></script>-->
<script src="/ff/js/vendor.js"></script>
<script src="/ff/js/vendor.bundle.js"></script>
<script src="/ff/js/bundle.js"></script>
<!--<script src="/ff/js/roll.js"></script>-->

</body>
</html>
