.container {
  margin-top: 10px;

  .title {
    font-size: 13px;
    margin-top: 6px;
    margin-bottom: 6px;

    span {
      padding: 5px 3px;
      background-color: #f9e0ec;
      margin-left: 15px;
    }
  }

}