.container {
  width: 100%;
  background-color: #ffffff;

  .weui_input {
    width: 100%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
    font-size: inherit;
    color: inherit;
    height: 1.41176471em;
    line-height: 1.41176471;
  }

  .phoneInput {
    height: 45px;
    border: 1px;
    background-color: #ffffff;
    border-bottom: 1px #dbdbec solid;
    .tit1 {
      line-height: 45px;
      font-size: 14px;
      margin: 0 15px;
    }

    label {
      font-size: 16px;
      line-height: 45px;
    }

    input {
      line-height: 45px;
      height: 45px;
    }

  }

  .identityInput {
    height: 45px;
    border: 1px;
    background-color: #ffffff;
    border-bottom: 1px #dbdbec solid;

    .tit1 {
      line-height: 45px;
      font-size: 14px;
      margin: 0 15px;
    }

    .tit2 {
      font-size: 12px;
      line-height: 35px;
    }

    input {
      line-height: 45px;
      height: 45px;
    }

    .btn1 {
      position: relative;
      display: block;
      box-sizing: border-box;
      font-size: 12px;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      color: #5a5a5a;
      border: 1px solid #5a5a5a;
      height: 35px;
      overflow: hidden;
      margin-top: 5px;
    }

  }

  .other {

    .btn2 {
      position: relative;
      display: block;
      margin-left: 12px;
      margin-right: 12px;
      padding-left: 14px;
      padding-right: 14px;
      box-sizing: border-box;
      font-size: 18px;
      text-align: center;
      text-decoration: none;
      color: #fff;
      line-height: 2.33333333;
      border-radius: 2px;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      overflow: hidden;
      background-color: #04be02;
      margin-top: 12px;
      &:active {
        color: hsla(0, 0%, 100%, .4);
        background-color: #039702;
      }

    }

    .notice {
      width: 100%;
      height: 35px;

      span {
        line-height: 35px;
        font-size: 10px;
        margin-left: 10px;
        color: #444444;
      }
    }

  }

  .address {

    .mainInfo {
      border-radius: 3px;
      border: 1px #c9aca9 dashed;
      padding: 10px 15px;
      margin: 20px 3px;

      .name {
        font-size: 16px;
        color: #1b1b1b;
        font-weight: 600;
      }

      .phoneNum {
        margin-left: 5px;
        font-size: 16px;
        color: #121212;
      }

      .streetAddress {
        padding-top: 10px;
        font-size: 10px;
        color: #746d55;
      }

    }

  }

}
