.itemStyle {

  .item {
    margin-top: 5px;
    .imgContainer {
      overflow: hidden;
      text-align: center;

      img {
        margin-top: 10px;
        text-align: center;
        overflow: hidden;
      }
    }

    .titleContainer {

      .title {
        text-align: center;
        margin-top: 3px;
        color: #585858;

        span {
          font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
          font-size: 13px;
        }

      }

    }

  }

}